<footer class="fixed-bottom">
    <span class="copyrights">&copy; Dlil 2020</span>
    <a href="https://www.facebook.com/dalil2020.eg" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/dalil2020eg" target="_blank" class="fa fa-twitter"></a>
</footer>

</body>

</html>