<%- include('partials/header'); %>
    <link rel="stylesheet" type="text/css" href="/styles/about.css">

    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/Dalil fb cover photo1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block dalil-about">
                        <h5>Dalil</h5>
                        <p>هذا هو الموقع الالكتروني الوحيد اللذي يقوم على ارشاد الطلاب الجدد وتسهيل الحياة الجديده اللتي يجدها البعض شاقة في بدايتها عليهم. ورؤيتنا المستقبلية بإذن الله تطمح إلى جعل كل طالب جديد يمتلك حسابا في دليل وأن نبسط هذه التجربة الجديدة
                            عليه. كما نريد ان نخفف الاختلاط بين الطلاب والمواطنين الاخرين بجعلهم يستغنون عن السؤال عن الاماكن والاتجاهات إلى الجامعة. كما نعطيهم افضل تجربة في استكشاف المطاعم واللتي سيكون عليها تعليقات من زملائهم السابقين لتحديد الجيدمنه
                            والسيء.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">

                    <img src="/m.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block mr">
                        <h1>Our Team</h1>
                        <h5>Muhammad Rajab Amer</h5>
                        <p>Fullstack Web Developer.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/kh.jpg" class="d-block w-100" alt="...">

                    <div class="carousel-caption d-none d-md-block mr">
                        <h1>Our Team</h1>
                        <h5>Khaled Abdulghany</h5>
                        <p>System Analysist.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <main>
            <div class="container about">
                <p>
                    موقع دليل هو موقع مصري طور بواسطة مجموعة من شباب جامعة كفرالشيخ لتسهيل الحياة الجديدة هذه على زملاءئهم الجدد ف جامعة كفرالشيخ وتوفير التعب والمشقة اللتي يمكن ان يمرو بها في أيامهم الاولى عن طريق جعل الطلاب القدامى يشاركون تجاربهم عن العيش في المدينة من
                    قبلهم وارشادهم إلى المطاعم اللتي قاموا بتجربتها ومشاركة تجربتهم بها كما يوفر الموقع لاماكن لجميع هذه المطاعم والاماكن إلى الكليات مدعومة بخرائط جوجل كما يجعل الموقع التواصل بين الكليات والطلبه سهلا عن طريق نشر الكليات لجداول ومواعيد
                    المحاضرات وايضا نشر المنشورات العامة اللتي يراها الطلاب لابلاغهم بكل جديد. كما نوفر ايضا جدول مواعيد القطارات من وإلى كفر الشيخ بأسعار التذاكر ودرجات القطار.
                </p>
            </div>
        </main>
        <%- include('partials/footer'); %>