<%- include('partials/header'); %>
    <style>
        .icon {
            font-size: 2em;
            color: #ffffff;
            background-color: transparent;
        }
        
        .icon:hover {
            color: #e9e9e9;
        }
        
        .mail,
        .address,
        .phone,
        .twitter,
        .facebook,
        .whatsapp,
        .telegram,
        .messanger {
            color: #fff;
            box-sizing: border-box;
            /* min-width: 25%;
            max-width: 40%;
            min-height: 10%;
            max-height: 15%; */
            margin: 3% 3%;
            padding: 3.5em;
            border: solid rgb(207, 207, 207) 2px;
            border-radius: 5px;
        }
        
        body {
            background-color: rgb(126, 126, 126);
        }
        
        .cont {
            background-color: rgb(126, 126, 126);
            border-radius: 10px;
            margin-top: 2em;
            margin-bottom: 3em;
        }
    </style>
    <header>
        <div class="container">
            <div class="jumbotron justify-content-center">
                <h1 class="display-4">Contact Us</h1>
                <p class="lead">If there is any problem. Please feel free to contact us though any of this media.</p>
            </div>
        </div>
    </header>
    <main class="container cont">
        <div class="container container-flex" target="_blank">
            <div class="row">
                <div class="mail col-md-5">
                    <a class="fa fa-envelope icon" target="_blank"></a>
                    <p>dalil2020.eg@gmail.com</p>
                </div>
                <div class="address col-md-5">
                    <a href="https://www.google.com/maps/place/%D9%83%D9%81%D8%B1+%D8%A7%D9%84%D8%B4%D9%8A%D8%AE%D8%8C+%D9%82%D8%B3%D9%85+%D9%83%D9%81%D8%B1+%D8%A7%D9%84%D8%B4%D9%8A%D8%AE%D8%8C+%D9%83%D9%81%D8%B1+%D8%A7%D9%84%D8%B4%D9%8A%D8%AE%D8%8C+%D8%A7%D9%84%D8%BA%D8%B1%D8%A8%D9%8A%D8%A9%E2%80%AD/@31.1100991,30.9576937,14z/data=!3m1!4b1!4m5!3m4!1s0x14f7ab78f233021f:0xc2cdebb004a208f8!8m2!3d31.1105643!4d30.9388733"
                        class="fa fa-map-marker icon" target="_blank"></a>
                    <p>Kafr ElSheikh, Egypt</p>
                </div>
            </div>
            <div class="row">
                <div class="phone col-md-5">
                    <a class="fa fa-phone-square icon" target="_blank"></a>
                    <p>012345678911</p>
                </div>

                <div class="telegram col-md-5">
                    <a href="https://web.telegram.org/#/login" class="fa fa-telegram icon" target="_blank"></a>
                    <p>012345678911</p>
                </div>
            </div>
            <div class="row">
                <div class="whatsapp col-md-5">
                    <a href="https://www.whatsapp.com/" class="fa fa-whatsapp icon" target="_blank"></a>
                    <p>012345678911</p>
                </div>

                <div class="facebook col-md-5">
                    <a href="https://www.facebook.com/dalil2020.eg" class="fa fa-facebook icon" target="_blank"></a>
                    <p>fb.com/dalil2020.eg</p>
                </div>
            </div>
            <div class="row">
                <div class="twitter col-md-5">
                    <a href="https://twitter.com/dalil2020eg" class="fa fa-twitter-square icon" target="_blank"></a>
                    <p>twitter.com/dalil2020eg</p>
                </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer'); %>