<%- include('partials/header'); -%>
    <div class="container green">
        <div class="login-box" id="userLogin" style="top: 30%;">
            <h3>Update Password</h3>
            <div>
                <form action="/updatepassword/<%= id %>?_m=PUT" method="POST">
                    <div class="user-box">
                        <input type="password" name="oldPassword" required="">
                        <label>Old Password</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="newPassword" required="">
                        <label>New Password</label>
                    </div>
                    <button class="submit" id="userSubmit" type="submit">Reset
                </button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>