<%- include('partials/header'); -%>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            transition: 0.6s ease;
            /* animation: slideBG 8s ease infinite 3s;
            animation-timing-function: ease;
            transition-delay: 4s; */
            background-image: url('/s1.jpg');
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        /* @keyframes slideBG {
            0% {
                background-image: url('/s1.jpg');
            }
            25% {
                transition-delay: 3s;
                background-image: url('/s2.jpg');
            }
            50% {
                background-image: url('/s3.jpg');
            }
            75% {
                background-image: url('/s4.jpg');
            }
            100% {
                background-image: url('/s5.jpg');
            }
        } */
        
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        .jumbotron {
            padding: 1em 1em;
            background-color: transparent;
            color: #080014;
            margin-top: 15%;
            text-align: center;
        }
        
        .display-4 {
            font-weight: 700;
        }
        
        .lead {
            font-weight: 500;
        }
        
        .btn-outline-primary {
            border-color: #080014;
            color: #080014;
        }
        
        #mapContainer {
            margin-top: 0.5em !important;
        }
    </style>
    <div class="slide-bg">
        <div class="jumbotron justify-content-center jumbotron-landing" id="headerWelcome">
            <h1 class="display-4">Welcome To Dalil</h1>
            <p class="lead">The only guide to KFS University, your guide to all places within university area.</p>
            <button id="mapTrigger" class="btn btn-outline-primary btn-lg" style="padding: 0.3em;">Show Map</button>
        </div>
        <div class="disabeled" id="mapContainer">
            <div id="map"></div>
            <script src="/frontjs/mapinit.js"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIzKl0ihHXQPc5lGcIq_PP-G75XXgZGJU&callback=initMap"></script>
        </div>
    </div>
    <script async defer src="/frontjs/landinPage.js">
    </script>
    <%- include('partials/footer'); -%>