<%- include('partials/header'); -%>
    <div class="container green">
        <h3 class="media-heading">Kafr ElSheikh General Microbus Station</h3>
        <div id="special_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9368.415306228148!2d30.944786174294922!3d31.113634614752026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7ab90c4104b1b%3A0x6e0634898ff4ecda!2z2YXZiNmC2YEg2YPZgdixINin2YTYtNmK2K4!5e0!3m2!1sen!2seg!4v1592862092816!5m2!1sen!2seg"
                class="map" allowfullscreen="true" aria-hidden="false" tabindex=""></iframe>
        </div>
    </div>
    <%- include('partials/footer'); -%>