<%- include('partials/header'); -%>
    <div class="container green">
        <div class="login-box" id="userLogin" style="top: 30%;">
            <h3>Rest Password</h3>
            <div id="userRegisteration">
                <form action="/resetpassword/<%= id %>" method="POST">
                    <div class="user-box">
                        <input type="password" name="password" required="">
                        <label>Password</label>
                    </div>
                    <button class="submit" id="userSubmit" type="submit">Reset
                </button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>