<%- include('partials/header'); -%>
    <style>
        .btn-default {
            background-color: #cecece;
        }
        
        .active:hover {
            color: #fff;
        }
        
        .active {
            color: #cfcdcd;
            background-color: rgb(45, 75, 172);
        }
    </style>
    <div class="container green">
        <div class="btn-group" role="group" style="float: right;">
            <button class="btn btn-default active" id="sakha">Sakha Student Housing</button>
            <button class="btn btn-default" id="kafr">Kafr ElSheikh Girls Student Housing</button>
        </div>
        <div>
            <h3 class="media-heading"> Sakha Student Housing</h3>
            <div id="special_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1772.9045072723718!2d30.948410935417627!3d31.087778614428505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7ac6692d4a21d%3A0xd22dffe0d758fcf6!2sEngineering%20College%20Sakha!5e1!3m2!1sen!2seg!4v1592862393666!5m2!1sen!2seg"
                    class="map" allowfullscreen="true" aria-hidden="false" tabindex=""></iframe>
            </div>
        </div>

        <div class="disabeled">
            <h3 class="media-heading"> Sakha Student Housing</h3>
            <div id="special_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3545.317545285563!2d30.945083945811252!3d31.100947264585056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7ad2cd6b6daaf%3A0x7eada21294782f3d!2z2KfZhNmF2K_ZitmG2Kkg2KfZhNis2KfZhdi52YrYqQ!5e1!3m2!1sen!2seg!4v1592862768846!5m2!1sen!2seg"
                    class="map" allowfullscreen="true" aria-hidden="false" tabindex=""></iframe>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>