.jumbotron {
    background-color: transparent;
    color: #ffffb8;
}

.jumbotron p {
    color: #cc9031;
}

.icon {
    font-size: 2em;
    color: #cc9031 !important;
    background-color: transparent;
}

.icon:hover {
    color: #ffffb8 !important;
}

.contact-box {
    color: #ffffb8;
    box-sizing: border-box;
    margin: 3% 3%;
    padding: 3.5em;
    border: solid #ffffb8 2px;
    border-radius: 5px;
}

.cont {
    margin-bottom: 3em;
}

@media(max-width:992px) {
    .contact-box {
        padding: 3.5em 1.5em;
    }
}