body {
    /* background: linear-gradient(#010327, #05040e); */
    background: linear-gradient(#000000, #40423a);
    /* background-color: rgba(51, 204, 51, 0.25); */
    /* background: linear-gradient(#000030, #03e9f4); */
    min-height: 100vh;
    background-attachment: fixed;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.disabeled {
    display: none !important;
}

.active {
    background-color: #ffffb8;
}

.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
    color: #080014 !important;
}

.hvr-radial-out::before {
    background-color: #f0e740;
    color: #080014;
}

.navbar-dark .navbar-toggler {
    border-color: #f0e740;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(/svg\ navigation\ toggler.svg);
}

.hvr-radial-out {
    background-color: #f0e740;
    color: #080014;
}


/* .nav {
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */

.navbar-dark .navbar-toggler {
    color: #f0e740;
    color: #f0e740;
}

.navbar-toggler-icon {
    color: #f0e740;
}

.nav-link {
    color: #f0e740;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f0e740;
}

ul li a:hover {
    color: #f0e740;
    font-weight: bold;
    border-radius: 5px;
}

.hvr-radial-out {
    background: transparent;
    width: 100%;
}

.navbar {
    background: #080014;
}

.dropdown:hover,
.dropdown-toggle:hover {
    color: #080014 !important;
    background-color: #f0e740;
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #080014;
}

.dropdown-item {
    color: #f0e740;
}

footer {
    background-color: #080014;
    margin: 2% 0 0 0;
}

.copyrights {
    color: #f0e740;
    font-family: 'Oswald', sans-serif;
    font-size: 0.7em;
}

.green {
    background-color: transparent;
    padding-top: 2em;
    padding-bottom: 2em;
}

#map {
    height: 85vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.special_map {
    height: 450px;
    width: 100%;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 1em;
}

.map {
    width: 100%;
    height: 450px;
    border: 0;
}

.btn-lg {
    padding: 0;
}

.fa {
    background-color: #080014;
    color: #f0e740;
    float: right;
    margin: 3px;
    padding: 3px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #ffffb8;
}

.img-fluid {
    max-height: 50vh;
    position: relative;
    margin: 2% auto;
}

.pro {
    max-width: 5%;
    margin-bottom: 3%;
}

.infcontainer {
    position: relative;
}

.name {
    margin: 2% auto;
    color: #ffffb8;
    margin-left: 2%;
}

.phone {
    color: #ffffb8;
}

.pull-right {
    color: #ffffb8;
}

.phone span {
    color: #cc9031;
    font-weight: bold;
}

.delete {
    margin: 2em;
}

.edit {
    margin: 12em;
}

.details {
    color: #cc9031;
}

#myBtn {
    margin-bottom: 1em;
}

.table-dark thead {
    color: #ffffb8;
}

.table-dark {
    color: #cc9031;
}

.departments {
    color: #ffffb8;
}

.departments ul {
    list-style: none;
}

.departments ul li a:hover {
    text-decoration: none;
    color: #ffffb8;
    font-weight: 400;
}

.departments ul li a {
    text-decoration: none;
    color: #cc9031;
}

h1 {
    color: #ffffb8;
}

.post {
    color: #ffffb8;
    margin-top: 2em;
}

.media-heading {
    color: #ffffb8;
    text-align: left;
}

.btn {
    padding: 0.07em 0.25em;
    margin-left: 0.5em;
}

.comment-box {
    justify-content: center;
    height: 15em;
    min-width: 100%;
    position: relative;
}

.form-comment {
    height: 100%;
    min-width: 100%;
}

.pb-cmnt-textarea {
    min-width: 100%;
    min-height: 80%;
    border-radius: 5px;
    resize: none;
}

.card-title {
    color: #ffffb8 !important;
}

.card {
    background-color: #080014;
}

.card-text {
    color: #cc9031 !important;
}

.card-body .btn-outline-secondary {
    color: #ffffb8 !important;
    border-color: #ffffb8 !important;
}

.btn-outline-secondary:hover {
    color: #cc9031;
    border-color: #cc9031;
    box-shadow: 0 0 5px #f0e740, 0 0 5px #f0e740;
    background-color: #080014;
}

.details-dept {
    color: #cc9031;
    text-align: right;
    direction: rtl;
    margin: 2% 15%;
    white-space: pre-line;
}

.media-body {
    white-space: pre-line;
    text-align: right;
}

.schedule-link,
.post-link,
.newRest {
    color: #ffffb8;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.schedule-link:hover,
.post-link:hover,
.newRest:hover {
    color: #f0e740;
    text-decoration: none !important;
    font-weight: 600;
}

#deptDetails {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border-radius: 5px;
    direction: rtl;
    white-space: pre-line
}

@media (max-width: 992px) {
    .green {
        padding: 0;
        margin: 0;
        width: 100% !important;
        margin-bottom: 3em;
    }
}

@media (max-width: 992px) {
    .map {
        padding: 0;
        margin: 0.2em;
        width: 100% !important;
    }
}

@media (max-width: 992px) {
    .col-md-9 {
        padding: 0;
        margin: 0;
        width: 100% !important;
    }
}

@media (max-width: 992px) {
    .special_map {
        padding: 0;
        margin: 0;
        margin-left: 1em;
        width: 100% !important;
        margin-right: 0.5em;
    }
}

@media(max-width: 450px) {
    .special_map {
        padding: 0;
        margin: 0;
    }
}

@media(max-width: 450px) {
    .map {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 992px) {
    .col8container {
        padding: 0.5em;
        margin: 0;
        border-left: none !important;
        width: 100% !important;
    }
}

@media (max-width: 992px) {
    .row {
        padding: 0;
        margin: 0;
        border: none;
        width: 100% !important;
    }
}


/* @media (max-width: 700px) {
    .green {
        padding: 0;
        margin: 0;
        width: 100% !important;
        overflow: hidden;
        display: block;
        margin-bottom: 1em;
    }
} */


/* @media (max-width: 700px) {
    .col8container {
        padding: 0;
        margin: 0;
        border-left: none !important;
        width: 100% !important;
    }
}

@media (max-width: 700px) {
    .special_map {
        margin-left: 0;
        margin-right: 0;
        border-left: none !important;
        width: 100% !important;
    }
} */

@media (max-width: 700px) {
    .display-4 {
        font-size: 2rem;
        font-weight: 400;
    }
}

@media (max-width: 700px) {
    .jumbotron-landing {
        margin-top: 50% !important;
    }
}